@define-mixin icon $social, $color: blue {
    .icon.is-$(social) {
        color: $color;
        @mixin-content;
    }
    .icon.is-$(social):hover {
        color: white;
        background: $color;
    }
}

@mixin icon twitter {
    background: url(twt.png);
}
@mixin icon youtube, red {
    background: url(youtube.png);
}